server:
  port: 8080

riot:
  token: RGAPI-4b091aa4-79cd-424a-bfd0-654c962ff3df

spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 086f34e5e6e7276238923c999a5db18b
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
            client-name: Kakao
        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id
  datasource:
    driver-class-name: org.h2.Driver
    username: root
    password: 1111
    url: jdbc:h2:tcp://localhost/~/testDB

